body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #f4f6f9;
    color: #333;
  }
  
  /* Buttons */
  .mat-raised-button {
    background-color: #4a90e2;
    color: white;
    font-weight: 600;
  }
  
  .mat-raised-button:hover {
    background-color: #357ab8;
  }
  
  /* General Card Styling */
  .mat-card {
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  }
  